body {
  background-color: #0C0C0C;
}

.section {
  width: 100%;
  height: 100vh;
  margin: 0px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#short-descript {
  text-align: right;
  margin-top: -15pt;
}

#short-descript h1 {
  font-size: 50pt;
  margin: 2px;
}

#short-descript h2 {
  font-size: 25pt;
  margin: 2px;
}

#short-descript p {
  font-size: 15pt;
  margin: 2px;
}

#pic img {
  margin-left: 10px;
  width: 200px;
  height: 200px;
}
