:root {
  --frame-color: #2e2e2e;
  --bg-color: #0c0c0c;
  --sub-color: #191919;
  --content-text-color: #cccccc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans Unicode";
}

body {
  background-color: var(--bg-color);
}

.container {
  min-width: 80%;
  margin: 0 auto;
}

@media (max-width: 425px) or (min-width: 425px) {
  nav {
    display: flex;
    align-items: center;
    background-color: var(--frame-color);
  }

  .nav-con {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    padding: 2rem 0;
    border-bottom: 1px solid var(--sub-color);
    width: 100%;
    text-align: center;
  }

  .logo a {
    font-size: 1.5rem;
    color: var(--content-text-color);
    text-decoration: none;
    pointer-events: none;
  }

  .menu {
    display: none;
    flex-direction: column;
    list-style: none;
    align-items: center;
    margin-bottom: 0px;
    width: 100%;
  }

  .menu-display {
    display: flex;
  }

  .menu li {
    margin: 1rem 0;
    width: 100%;
    text-align: center;
  }

  .menu li a {
    display: block;
    width: 100%;
    font-size: 1.25rem;
    color: var(--content-text-color);
    text-decoration: none;
  }

  .menu input {
    border-radius: 10px;
    border: 0px;
    padding: 0.5rem;
    height: 35px;
    width: 100%;
  }

  .menu input:focus {
    border: 0px;
    outline: none;
  }

  #icon-search {
    z-index: 0;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    text-decoration: none;
    color: var(--frame-color);
  }

  .nav-search-box {
    margin-left: -1.5rem;
    padding-left: 2rem !important;
    font-size: 1rem;
    background-color: var(--sub-color);
    color: var(--content-text-color);
  }

  .menu div {
    display: flex;
    width: 100%;
  }

  .menu div button {
    font-size: 1.25rem;
    height: 35px;
    border: 0.2rem solid var(--content-text-color);
    border-radius: 10px;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .nav-login-btn {
    background-color: var(--frame-color);
    color: var(--content-text-color);
  }

  .nav-signup-btn {
    margin-left: 0.2rem;
    background-color: var(--content-text-color);
    color: var(--frame-color);
  }
}

@media (min-width: 768px) {
  /* for display 2 blog in row */
}

@media (min-width: 1024px) {
  /* for change nav-bar style */

  .nav-con {
    flex-direction: row;
  }

  .logo {
    border-bottom: 0px;
    width: auto;
    text-align: left;
  }

  .menu {
    display: flex;
    flex-direction: row;
    width: auto;
  }

  .menu li {
    margin: 0 1rem;
    width: auto;
  }

  .menu li a {
    width: auto;
  }

  .menu input {
    min-width: 100px;
    width: 100px;
  }

  .nav-search-box {
    margin-right: 1rem;
  }

  .menu div {
    width: auto;
  }

  .menu div button {
    min-width: 90px;
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media (min-width: 1440px) {
  .menu input {
    width: 100%;
  }
}

/* .container {
  max-width: 1440px;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  height: 4rem;
  background-color: var(--frame-color);
}

.nav-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
}

.logo a {
  font-size: 2rem;
  color: var(--content-text-color);
  text-decoration: none;
}

.menu {
  display: flex;
  list-style: none;
  align-items: center;
  margin-bottom: 0px;
}

.menu li {
  margin: 0 1rem;
}

.menu li a {
  color: var(--content-text-color);
  text-decoration: none;
}

.menu input {
  border-radius: 10px;
  border: 0px;
  padding: 0.5rem;
  height: 35px;
  margin-right: 1rem;
}

.menu input:focus {
  border: 0px;
  outline: none;
}

#icon-search {
  z-index: 0;
  padding-left: 0.5rem;
  text-decoration: none;
  color: var(--frame-color);
}

.nav-search-box {
  margin-left: -1.5rem;
  padding-left: 2rem !important;
  font-size: 1rem;
  background-color: var(--sub-color);
  color: var(--content-text-color);
}

.menu div {
  display: flex;
}

.menu div button {
  font-size: 1rem;
  height: 35px;
  border: 0.2rem solid var(--content-text-color);
  border-radius: 10px;
  width: 5rem;
}

.nav-login-btn {
  background-color: var(--frame-color);
  color: var(--content-text-color);
}

.nav-signup-btn {
   margin-left: 0.2rem;
  background-color: var(--content-text-color);
  color: var(--frame-color);
} */
