:root {
  --frame-color: #2e2e2e;
  --bg-color: #0c0c0c;
  --sub-color: #191919;
  --content-text-color: #cccccc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans Unicode";
  color: var(--content-text-color);
}

body {
  background-color: var(--bg-color);
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  border-top: 10px solid var(--sub-color);
  position: fixed;
  top: 0px;
  width: 100%;
}

footer {
  border-top: 10px solid var(--sub-color);
}

@media (max-width: 425px) or (min-width: 425px) {
  nav {
    display: flex;
    align-items: center;
    background-color: var(--frame-color);
  }

  .nav-con {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    padding: 2rem 0;
    width: 100%;
    text-align: center;
  }

  .logo a {
    font-size: 1.5rem;
    text-decoration: none;
    pointer-events: none;
  }

  .menu {
    border-top: 1px solid var(--sub-color);
    display: none;
    flex-direction: column;
    list-style: none;
    align-items: center;
    margin-bottom: 0px;
    width: 100%;
    background-color: var(--frame-color);
  }

  .menu-display {
    display: flex;
    position: absolute;
    margin: 92px;
  }

  .menu li {
    margin: 1rem 0;
    width: 100%;
    text-align: center;
  }

  .menu li a {
    display: block;
    width: 100%;
    font-size: 1.25rem;
    text-decoration: none;
  }

  .menu input {
    border-radius: 10px;
    border: 0px;
    padding: 0.5rem;
    height: 35px;
    width: 100%;
  }

  .menu input:focus {
    border: 0px;
    outline: none;
  }

  #icon-search {
    z-index: 0;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    text-decoration: none;
    color: var(--frame-color);
  }

  .nav-search-box {
    margin-left: -1.5rem;
    padding-left: 2rem !important;
    font-size: 1rem;
    background-color: var(--sub-color);
  }

  .menu div {
    display: flex;
    width: 80%;
  }

  .menu div button {
    font-size: 1.25rem;
    height: 35px;
    border: 0.2rem solid var(--content-text-color);
    border-radius: 10px;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .nav-login-btn {
    background-color: var(--frame-color);
  }

  .nav-signup-btn {
    margin-left: 0.2rem;
    background-color: var(--content-text-color);
    color: var(--frame-color);
  }

  main {
    margin-top: 122px;
  }

  main h1 {
    font-size: 2rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid var(--content-text-color);
    margin-bottom: 2rem;
  }

  .hero-info-detail-subdetail-con,
  .hero-info-contegory-label,
  .main-blog-list-info-detail-subdetail-con,
  .main-blog-list-info-contegory-label {
    display: none;
  }

  .hero-con,
  .main-blog-list-con {
    margin: 0 auto;
    width: 80vw;
  }

  .hero-img img,
  .main-blog-list-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 1rem;
    border: 2px solid var(--content-text-color);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .main-blog-list-img img {
    margin-top: 2rem;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .hero-info-article,
  .main-blog-list-info-article {
    display: flex;
    font-weight: bolder;
  }

  .hero-info-detail-maindetail,
  .main-blog-list-info-detail-maindetail {
    margin: 1rem 0;
  }

  .hero-info-contegory-info-con,
  .main-blog-list-info-contegory-info-con {
    display: flex;
  }

  .hero-info-contegory-info,
  .main-blog-list-info-contegory-info {
    border: 1px solid var(--content-text-color);
    border-radius: 1rem;
    padding: 0 0.5rem;
    margin-right: 0.5rem;
  }

  .pagination-laptop-con {
    display: none;
  }

  .pagination-con {
    margin: 2rem 0;
  }

  .pagination-mobile-con {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .hero-info-detail-subdetail-con,
  .hero-info-contegory-label {
    display: block;
  }

  .hero-img img {
    height: 400px;
    margin-bottom: -9rem;
  }

  .hero-info-con {
    position: relative;
    background-color: #2e2e2ebb;
    padding: 1rem;
    margin: 0 1rem;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    backdrop-filter: blur(10px);
  }

  .hero-info-article {
    font-weight: bolder;
    margin-bottom: 1rem;
  }

  .hero-info-article i {
    display: none;
  }

  .hero-info-writer-detail-label,
  .hero-info-publihed-lable,
  .hero-info-contegory-label {
    font-weight: bolder;
    margin-bottom: 0.5rem;
  }

  .hero-info-detail-con,
  .hero-info-detail-subdetail-con {
    display: flex;
    justify-content: space-between;
  }

  .hero-info-detail-maindetail-con {
    display: none;
  }

  .hero-info-writer-detail-info-con {
    display: flex;
  }

  .hero-info-writer-detail-label {
    font-weight: bolder;
  }

  .hero-info-writer-detail-info-pic img {
    width: 25px;
    height: 25px;
    object-fit: cover;
    border: 2px solid var(--content-text-color);
    border-radius: 50%;
    margin-right: 0.25rem;
  }

  .hero-info-publihed-con {
    margin-left: 1rem;
  }

  .main-blog-list-con {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }
}

@media (min-width: 1024px) {
  .nav-con {
    flex-direction: row;
  }

  .logo {
    width: auto;
    text-align: left;
  }

  .menu {
    border-top: 0px;
    display: flex;
    flex-direction: row;
    width: auto;
  }

  .menu-display {
    display: flex;
    position: static;
    margin: 0px;
  }

  .menu li {
    margin: 0 1rem;
    width: auto;
  }

  .menu li a {
    width: auto;
  }

  .menu input {
    min-width: 100px;
    width: 100px;
  }

  .nav-search-box {
    margin-right: 1rem;
  }

  .menu div {
    width: auto;
  }

  .menu div button {
    min-width: 90px;
    margin-top: auto;
    margin-bottom: auto;
  }

  .hero-img img {
    height: 500px;
  }

  .main-blog-list-con {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
  }

  .pagination-mobile-con {
    display: none;
  }

  .pagination-laptop-previous i {
    margin-right: 0.5rem;
  }

  .pagination-laptop-next i {
    margin-left: 0.5rem;
  }

  .pagination-laptop-con {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1440px) {
  .menu input {
    width: 100%;
  }

  .hero-img img {
    height: 600px;
  }

  .main-blog-list-con {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
  }
}

@media (min-width: 1920px) {
  .main-blog-list-img img {
    height: 300px;
  }
}
